.bar-tab {
    border: 1px solid #E2DADA;
}
.bar-tab .col-18 {
    width: 5rem;
    border-right: 1px solid #E2DADA;
}
.bar-tab .colo {
    color: red;
}
.bar-tab .col-23 {
    width: 12rem;
    border-right: 1px solid #E2DADA;
}
.bar-tab .col-23 span {
    font-size: 15px;
}
.bar-tab .tab1 {
    color: red;
    background: pink;
}
.bar-tab .tab2 {
    color: white;
    background: #FC2D53;
}
.content .page1 {
    height: 35rem;
    background: #fff;
}
.bar-tab .butn {
    height: 2.6rem;
    width: 100%;
    background: red;
    border: 0px;
    padding: 0px;
    color: black;
}
.shop {
    height: 8rem;
    margin: 0;
    background: #fff;
}
.shop p {
    margin: 0!important;
}
.shop .ok {
    width: 100%;
    height: 2.5rem;
    margin-top: 1rem;
    background: red;
    font-color: white;
    border: 0;
}
#view-win {
    background-color: rgba(0, 0, 0, 0.5);
}
#tj .col-33 span {
    margin: 0;
    font-size: 0.5rem;
}
#tj .col-33 p {
    font-size: 0.5rem;
}
#pic img {
    width: 100%;
}
p {
    margin: 0px auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.page1 .swiper-h {
  height:35rem;
}
.page1 .p1 {
  color:red;
  position:absolute;
  margin-top:-5rem;
  font-size:1.2rem;
}
.page1 .p2 {
  position:absolute;
  margin-top: -3rem;
}
.page1 .fee {
  font-size:10px;
  position:absolute;
}
.send {
  font-size:13px;
  padding-right:15px;
}
.back {
  font-size:13px;
  padding-right:15px;
}
.get-fee {
  font-size:13px;
  padding-right:15px;
}
.go-shop {
  margin-top:8px;
  border:1px solid red;color:red;
}
.sales {
  position:absolute;
  margin-left:1rem;
  margin-top:1rem;
}
.collection {
  position:absolute;
  margin-left:6.5rem;
  margin-top:1rem;
}
.desc {
  position:absolute;
  margin-left:12rem;
  margin-top:1rem;
}
.sizes {
  padding:1rem 0;
}
#view-win {
  bottom:0;
}
.content-land {
  margin-top:14rem;
  bottom:0;
  background:#fff;
}
#click {
  background:#fff;
  color:#3A3434;
  border:0;
}