/*!
 * =====================================================
 * SUI Mobile - http://m.sui.taobao.org/
 *
 * =====================================================
 */

/*.transition(@d) {
    -webkit-transition-duration: @d;
    transition-duration: @d;
}
.delay(@d) {
    -webkit-transition-delay: @d;
    transition-delay: @d;
}
.transform(@t) {
    -webkit-transform: @t;
    transform: @t;
}
.transform-origin(@to) {
    -webkit-transform-origin: @to;
    transform-origin: @to;
}
.translate3d(@x:0, @y:0, @z:0) {
    -webkit-transform: translate3d(@x,@y,@z);
    transform: translate3d(@x,@y,@z);
}
.animation(@a) {
    -webkit-animation: @a;
    animation: @a;
}
.border-box(){
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.box-shadow(@bs) {
    -webkit-box-shadow: @bs;
    box-shadow: @bs;
}
.animation-name(@name) {
  -webkit-animation-name: @name;
     -moz-animation-name: @name;
          animation-name: @name;
}
.animation-duration(@duration) {
  -webkit-animation-duration: @duration;
     -moz-animation-duration: @duration;
          animation-duration: @duration;
}
.animation-direction(@direction) {
  -webkit-animation-direction: @direction;
     -moz-animation-direction: @direction;
          animation-direction: @direction;
}
*/
html {
  font-size: 20px!important;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  position: relative !important;
  font: 400 14px/1.5 "Open Sans", sans-serif;
  color: #3d4145;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: auto;
}
.docs-content {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .docs-content {
    font-size: 18px;
  }
}
.docs-content h1,
.docs-content h2,
.docs-content h3,
.docs-content h4,
.docs-content h5,
.docs-content h6 {
  font-weight: 400;
  color: #222;
}
.docs-content h2 {
  margin-bottom: .25em;
  font-size: 2em;
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  margin-bottom: 30px;
}
.docs-content h3 {
  margin-bottom: .5em;
  font-size: 1.25em;
}
.docs-content p {
  font-size: 1em;
  color: #555;
}
.docs-content .lead {
  font-size: 1.1em;
  color: #777;
}
.docs-content .notice {
  padding: 10px 5px;
  border: 1px solid #faf1d7;
  background: #fffff1;
  color: #ee9f28;
}
.docs-header {
  position: relative;
  background-color: #571c94;
  background-image: url(http://sui.taobao.org/sui/docs/assets/imgs/grid.png), -webkit-gradient(linear, left bottom, right top, color-stop(0%, #571c94), color-stop(100%, #e609cf));
  background-image: url(http://sui.taobao.org/sui/docs/assets/imgs/grid.png), -webkit-linear-gradient(135deg, #571c94 0%, #e609cf 100%);
  background-image: url(http://sui.taobao.org/sui/docs/assets/imgs/grid.png), -webkit-linear-gradient(315deg, #571c94 0%, #e609cf 100%);
  background-image: url(http://sui.taobao.org/sui/docs/assets/imgs/grid.png), -o-linear-gradient(315deg, #571c94 0%, #e609cf 100%);
  background-repeat: no-repeat;
  background-position: 50% 40%;
}
.docs-sub-header {
  position: relative;
  background-color: #571c94;
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #571c94), color-stop(100%, #e609cf));
  background-image: -webkit-linear-gradient(135deg, #571c94 0%, #e609cf 100%);
  background-image: -webkit-linear-gradient(315deg, #571c94 0%, #e609cf 100%);
  background-image: linear-gradient(135deg, #571c94 0%, #e609cf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{@color-from}', endColorstr='#{@color-to}', GradientType=1);
}
.docs-header {
  height: 320px;
}
.docs-header .carbonad {
  position: relative !important;
  margin-top: 0 !important;
  -webkit-animation-name: fadeintext;
          animation-name: fadeintext;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.docs-header .version {
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.docs-header-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
@media screen and (min-width: 768px) {
  .docs-header {
    height: 600px;
  }
  .docs-header .carbonad {
    left: 50% !important;
    width: 330px !important;
    margin-bottom: 60px !important;
    margin-left: -165px !important;
  }
  .docs-sub-header .carbonad {
    position: absolute !important;
    top: 50% !important;
    right: 15px !important;
    margin-top: 0 !important;
    -webkit-transform: translateY(-50%) !important;
            transform: translateY(-50%) !important;
  }
}
.docs-masthead {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.docs-masthead .container {
  height: 1rem;
}
.docs-title {
  position: absolute;
  left: 50%;
  z-index: 20;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.docs-nav .docs-nav-trigger {
  color: #fff;
  opacity: .7;
  font-size: 28px;
  position: absolute;
  right: 1.5rem;
  top: -0.5rem;
}
.docs-nav .docs-nav-trigger.active {
  opacity: 1;
}
.docs-nav .docs-nav-group {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 20;
  height: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
}
.docs-nav .docs-nav-group.active {
  height: auto;
  opacity: 1;
}
.docs-nav .docs-nav-item {
  display: block;
  padding: 20px 15px;
  font-size: 22px;
}
.docs-jump-menu,
.docs-component-group {
  display: none;
}
.docs-title a,
.docs-nav-item {
  color: #fff;
  -webkit-transition: opacity .2s linear;
          transition: opacity .2s linear;
}
.docs-title a:active,
.docs-nav-item:active,
.docs-title a:focus,
.docs-nav-item:focus {
  color: #fff;
  opacity: .5;
}
@media screen and (min-width: 768px) {
  .docs-title {
    position: static;
    float: left;
    font-weight: 300;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .docs-nav {
    float: right;
  }
  .docs-nav .docs-nav-trigger {
    display: none;
  }
  .docs-nav .docs-nav-group {
    position: static;
    display: block;
    height: auto;
    background-color: transparent;
    opacity: 1;
  }
  .docs-nav .docs-nav-item {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    font-size: 14px;
  }
  .docs-jump-menu {
    position: absolute;
    left: 15px;
    display: block;
    color: #777;
    cursor: pointer;
    -webkit-transition: opacity .2 linear;
            transition: opacity .2 linear;
  }
  .docs-jump-menu:hover {
    color: #0894ec;
  }
  .docs-jump-menu:active {
    opacity: .5;
  }
  .docs-jump-menu .icon-list {
    margin-right: 3px;
    font-size: 16px;
  }
  .docs-jump-menu .icon-caret {
    position: relative;
    top: 4px;
    margin-left: -5px;
  }
  .docs-component-group {
    position: absolute;
    top: 35px;
    left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  }
  .docs-component-group.active {
    display: block;
  }
  .docs-component-group:before,
  .docs-component-group:after {
    position: absolute;
    left: 30px;
    width: 0;
    height: 0;
    content: '';
  }
  .docs-component-group:before {
    top: -11px;
    margin-left: -11px;
    border-right: 11px solid transparent;
    border-bottom: 11px solid rgba(0, 0, 0, 0.3);
    border-left: 11px solid transparent;
  }
  .docs-component-group:after {
    top: -10px;
    margin-left: -10px;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
  }
  .docs-component-group .docs-component-item {
    display: block;
    padding: 5px 20px;
    color: #777;
  }
  .docs-component-group .docs-component-item:hover {
    color: #fff;
    background-color: #0894ec;
  }
}
.docs-header-content {
  position: relative;
  padding: 50px 10px;
  text-align: center;
  -webkit-animation-name: fadeintext;
          animation-name: fadeintext;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}
.docs-header-content .btn {
  display: block;
  padding: 15px 60px 16px;
  margin-bottom: 0;
  font-size: 18px;
  color: #0a1855;
  background-color: #fff;
  border: 0;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
.docs-header-content .btn:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
}
.docs-header-content .btn:active {
  opacity: .5;
}
.docs-subtitle {
  max-width: 750px;
  margin: 0 auto 20px;
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .docs-header-content {
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .docs-header-content .btn {
    display: inline-block;
  }
  .docs-subtitle {
    margin-bottom: 30px;
    font-size: 41px;
    line-height: 60px;
  }
}
.carbonad {
  width: 100% !important;
  height: auto !important;
  padding: 15px !important;
  font-size: 13px !important;
  line-height: 18px !important;
  background: transparent !important;
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
  border-right: 0 !important;
  border-bottom: 0 !important;
  border-left: 0 !important;
}
.carbonad-img {
  margin: 0 !important;
}
.carbonad-text,
.carbonad-tag {
  display: block !important;
  float: none !important;
  width: auto !important;
  height: auto !important;
  margin-left: 145px !important;
  color: rgba(255, 255, 255, 0.65) !important;
  font-family: "Open Sans", sans-serif !important;
}
.carbonad-text {
  padding-top: 0 !important;
}
.carbonad-tag {
  text-align: left !important;
}
.carbonad-text a,
.carbonad-tag a {
  color: #fff !important;
}
.carbonad #azcarbon > img {
  display: none;
}
@media screen and (min-width: 768px) {
  .carbonad {
    width: 360px !important;
    border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-left: 1px solid rgba(255, 255, 255, 0.1) !important;
    border-radius: 3px !important;
  }
}
.docs-sub-content {
  position: relative;
  overflow: hidden;
  padding: 55px 15px 65px;
  color: #fff;
  text-align: center;
}
.docs-sub-content .page-title,
.docs-sub-content .page-description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.docs-sub-content .page-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.docs-sub-content .page-description {
  font-size: 24px;
  color: #fff;
  opacity: .7;
}
@media screen and (min-width: 768px) {
  .docs-sub-content {
    text-align: left;
  }
}
.docs-section {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ddd;
}
.docs-section:last-child {
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  .docs-module {
    margin-top: 35px;
  }
}
.docs-module {
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}
.docs-module .btn-block {
  margin-bottom: 0;
}
.version {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 90%;
  color: #777;
}
.docs-footer {
  border-top: 1px solid #ddd;
  padding: 30px 20px;
  margin-top: 50px;
  font-size: 14px;
  text-align: center;
  color: #777;
}
.docs-footer .social {
  padding: 0 0 20px;
  margin: 0;
  list-style: none;
}
.docs-footer .social li {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}
.docs-footer .social .twitter-follow-button {
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .docs-footer .social .twitter-follow-button {
    margin-top: 0;
  }
}
.docs-footer-text {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .docs-footer-text {
    width: 550px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
.docs-footer-links {
  padding-left: 0;
}
.docs-footer-links li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}
.docs-header .docs-footer {
  margin-top: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.docs-header .docs-footer .docs-footer-text,
.docs-header .docs-footer .docs-footer-links {
  color: rgba(255, 255, 255, 0.5);
}
.docs-header .docs-footer .docs-footer-text a,
.docs-header .docs-footer .docs-footer-links a {
  color: rgba(255, 255, 255, 0.8);
}
.github-btn {
  border: 0;
  overflow: hidden;
}
.docs-component-toolbar {
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 20;
  height: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  -webkit-transition: -webkit-transform .5s;
          transition: transform .5s;
  -webkit-transform: translate3d(0, -55px, 0);
          transform: translate3d(0, -55px, 0);
}
.docs-component-toolbar.visible {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.docs-component-toolbar .segmented-control {
  max-width: 300px;
  margin: 0 auto;
}
.docs-component-toolbar .segmented-control .control-item {
  cursor: pointer;
}
.docs-examples {
  margin-top: 30px;
}
.example-wrap {
  margin-bottom: 30px;
}
.example-wrap .example {
  display: block;
  width: 100%;
  padding: 3px;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
}
.example-wrap .example-title {
  margin-top: 10px;
}
.example-wrap img {
  display: block;
  width: 100%;
  height: auto;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  background-color: #f9f9f9;
  border-radius: 3px;
}
.component {
  padding: 20px 15px 70px 15px;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #ddd;
}
.component.no-border {
  border-bottom: 0;
}
@media screen and (min-width: 768px) {
  .component {
    border-bottom: 0;
  }
}
.component-title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 34px;
}
.component-description {
  margin-bottom: 15px;
  font-size: 16px;
}
.component-example {
  font-size: 0.85rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.05rem;
}
.component-example,
.component-example .bar,
.component-example .content {
  position: relative;
}
.component-example .bar {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.component-example .bar.bar-header-secondary {
  top: 0 !important;
  border-top: 0;
}
.component-example > .content-padded {
  margin: 15px;
}
.component-example > .card {
  margin: 15px 0 0;
}
.component-example > .card .control-content {
  padding: 15px;
}
.component-example > .btn,
.component-example > .toggle {
  margin-bottom: 10px;
}
.component-example .slider {
  height: 300px;
}
.component-example .slider .slide {
  height: 300px;
}
.component-example .slide img {
  width: 100%;
}
.component-example .slide-text {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.component-example-fullbleed,
.highlight {
  margin-left: -15px;
  margin-right: -15px;
}
.highlight pre {
  padding: 15px;
  margin-top: 15px;
  overflow-x: auto;
  font-size: 13px;
  color: #777;
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
}
.highlight pre code {
  padding: 0;
}
@media screen and (min-width: 768px) {
  .component,
  .component-example-fullbleed,
  .highlight {
    margin-left: 0;
    margin-right: 0;
  }
  .component {
    padding-left: 0;
    padding-right: 0;
    opacity: .3;
    -webkit-transition: opacity 0.2s ease-in-out;
            transition: opacity 0.2s ease-in-out;
  }
  .component.active {
    opacity: 1;
  }
  .component-example {
    display: none;
  }
  .highlight pre {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-radius: 3px;
  }
}
@media screen and (min-width: 768px) {
  .slider .slide {
    cursor: -webkit-grab;
    cursor: grab;
  }
  .slider .slide img {
    width: 100%;
    height: 570px;
    display: block;
  }
  .slider .slide-group .slide-text {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}
.device {
  display: none;
  font-size: 0.85rem;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.05rem;
}
@media screen and (min-width: 768px) {
  .device {
    position: relative;
    top: 50px;
    display: block;
    width: 395px;
    height: 813px;
    margin-left: -20px;
    font-family: "Helvetica Neue", sans-serif;
    background-image: url("../img/device-sprite.png");
    background-size: 300%;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-transition: background-image 0.1s linear;
            transition: background-image 0.1s linear;
  }
  .device.device-fixed {
    position: fixed;
    right: auto;
  }
  .device .device-content {
    position: absolute;
    top: 117px;
    left: 37px;
    width: 321px;
    height: 569px;
    overflow: hidden;
    font-size: 0.85rem;
    line-height: 1.05rem;
    background: #eeeeee;
  }
  .device .content,
  .device .bar,
  .device .modal {
    position: absolute;
  }
  .device iframe {
    border: 0;
  }
  .docs-icons {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
hr {
  height: 0;
  margin: 10px 0 30px;
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
}
.column-group:before,
.column-group:after {
  content: " ";
  display: table;
}
.column-group:after {
  clear: both;
}
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1400px;
}
.column-group {
  width: auto;
}
.column {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 100%;
}
.column.pull-right {
  float: right;
}
.column .column-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 768px) {
  .lg-units-3 {
    width: 25%;
  }
  .lg-units-4 {
    width: 33.333%;
  }
  .lg-units-5 {
    width: 41.666%;
  }
  .lg-units-6 {
    width: 50%;
  }
  .lg-units-7 {
    width: 58.333%;
  }
  .lg-units-8 {
    width: 66.666%;
  }
  .docs-side-menu {
    float: left;
    width: 150px;
    position: relative;
    top: 50px;
    max-height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
  }
  .docs-column {
    width: auto;
    margin: 0 400px 0 170px;
    float: none;
  }
  .device-column {
    width: 400px;
    margin-left: 20px;
  }
}
@-webkit-keyframes fadeintext {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  background-color: #fff;
  border-radius: 3px;
}
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  background-color: #fcf8f2;
  border-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.list-group .team-member {
  color: #555;
  font-size: 14px;
  line-height: 32px;
}
.list-group img {
  float: left;
  width: 32px;
  margin-right: 10px;
  border-radius: 4px;
}
.list-group .team-member-info {
  overflow: hidden;
}
.list-group .github-btn {
  float: right;
  margin-top: 6px;
  width: 121px;
  height: 20px;
}
.browser-support-table td,
.browser-support-table th {
  border: 1px solid #ddd;
  padding: 5px;
}
.browser-support-maybe {
  color: #fff;
  background-color: #f0ad4e;
}
.browser-support-yes {
  background-color: #4cd964;
}
.browser-support-no {
  background-color: #f6383a;
}
code {
  color: #C30;
}
pre code {
  color: #333;
}
pre code .c {
  color: #999999;
}
pre code .err {
  color: #A00;
  background-color: #ffaaaa;
}
pre code .k {
  color: #006699;
}
pre code .o {
  color: #555555;
}
pre code .cm {
  color: #999999;
}
pre code .cp {
  color: #009999;
}
pre code .c1,
pre code .cs {
  color: #999999;
}
pre code .gd {
  background-color: #FCC;
  border: 1px solid #cc0000;
}
pre code .ge {
  font-style: italic;
}
pre code .gr {
  color: red;
}
pre code .gh {
  color: #003300;
}
pre code .gi {
  background-color: #CFC;
  border: 1px solid #00cc00;
}
pre code .go {
  color: #aaaaaa;
}
pre code .gp {
  color: #000099;
}
pre code .gu {
  color: #003300;
}
pre code .gt {
  color: #99cc66;
}
pre code .kc,
pre code .kd,
pre code .kn,
pre code .kp,
pre code .kr {
  color: #006699;
}
pre code .kt {
  color: #007788;
}
pre code .m {
  color: #ff6600;
}
pre code .s {
  color: #d44950;
}
pre code .na {
  color: #4f9fcf;
}
pre code .nb {
  color: #336666;
}
pre code .nc {
  color: #00aa88;
}
pre code .no {
  color: #336600;
}
pre code .nd {
  color: #9999ff;
}
pre code .ni {
  color: #999999;
}
pre code .ne {
  color: #cc0000;
}
pre code .nf {
  color: #cc00ff;
}
pre code .nl {
  color: #9999ff;
}
pre code .nn {
  color: #00ccff;
}
pre code .nt {
  color: #2f6f9f;
}
pre code .nv {
  color: #003333;
}
pre code .ow {
  color: #000000;
}
pre code .w {
  color: #bbbbbb;
}
pre code .mf,
pre code .mh,
pre code .mi,
pre code .mo {
  color: #ff6600;
}
pre code .sb,
pre code .sc {
  color: #cc3300;
}
pre code .sd {
  color: #C30;
  font-style: italic;
}
pre code .s2,
pre code .se,
pre code .sh {
  color: #cc3300;
}
pre code .si {
  color: #aa0000;
}
pre code .sx {
  color: #cc3300;
}
pre code .sr {
  color: #33aaaa;
}
pre code .s1 {
  color: #cc3300;
}
pre code .ss {
  color: #ffcc33;
}
pre code .bp {
  color: #336666;
}
pre code .vc,
pre code .vg,
pre code .vi {
  color: #003333;
}
pre code .il {
  color: #ff6600;
}
pre code .css .nt + .nt,
pre code .css .o,
pre code .css .o + .nt {
  color: #999999;
}
table {
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 2px;
}
table td,
table th {
  padding: 0 8px;
  border-left: 1px solid #ddd;
}
table td {
  border-top: 1px solid #ddd;
}
.docs-side-menu {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}
.docs-side-menu li {
  display: block;
  padding: 5px 0;
}
.docs-side-menu a {
  color: #666;
}
.docs-side-menu a:hover {
  color: #0894ec;
}
.docs-side-menu .active a {
  color: #0894ec;
}
.docs-side-menu.menu-fixed {
  position: fixed;
}
.docs-side-menu .new,
.docs-side-menu .beta {
  margin-left: 10px;
  color: white;
  background-color: red;
  display: inline-block;
  border-radius: 10px;
  padding: 0 3px;
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  position: relative;
  top: -1px;
}
.docs-side-menu .beta {
  background: #ff9500;
}
.index-content {
  padding: 20px;
  margin: auto;
  max-width: 1200px;
  font-size: 20px;
}
.index-content .section {
  margin-top: 60px;
}
.index-content .section .round {
  width: 250px;
  height: 250px;
  border-radius: 125px;
  overflow: hidden;
  float: left;
  margin-right: 60px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
}
.index-content .section .round img {
  position: relative;
  top: -200px;
  width: 320px;
}
.index-content .section .left {
  float: left;
  margin-right: 60px;
}
.index-content .section .components-img {
  text-align: center;
}
.page-baichuan {
  color: #333;
}
.page-baichuan a {
  color: #0089cd;
}
.page-baichuan a:hover {
  color: #f60;
}
.page-baichuan .header {
  color: white;
  text-align: center;
  position: relative;
  height: 300px;
}
.page-baichuan .header .bg,
.page-baichuan .header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.page-baichuan .header .bg {
  background: url(//gtms04.alicdn.com/tps/i4/TB15BwTIpXXXXXtXXXXdrcn8XXX-1196-304.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.page-baichuan .header .overlay {
  z-index: 2;
  background: -webkit-radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
  background: radial-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}
.page-baichuan .header h2 {
  position: absolute;
  z-index: 3;
  font-size: 48px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  margin-top: -36px;
  margin-left: -200px;
}
.page-baichuan p {
  margin: 0.5em 0;
}
.page-baichuan .sub-header {
  background: #efefef;
  text-align: center;
  padding: 26px 0;
  font-size: 16px;
}
.page-baichuan .sub-header h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 10px;
}
.page-baichuan article {
  overflow: hidden;
  height: 510px;
}
.page-baichuan article .article-inner {
  width: 960px;
  margin: auto;
}
.page-baichuan article:nth-child(even) {
  background: rgba(0, 0, 0, 0.1);
}
.page-baichuan article:nth-child(even) .monitor {
  float: right;
}
.page-baichuan article:nth-child(even) .phone {
  margin-left: 100px;
}
.page-baichuan article:nth-child(even) .text {
  padding-left: 50px;
}
.page-baichuan article .monitor,
.page-baichuan article .text {
  float: left;
  width: 50%;
  text-align: center;
}
.page-baichuan article .text {
  text-align: left;
  padding: 115px 0;
  font-size: 16px;
}
.page-baichuan article .text h4 {
  font-size: 20px;
  margin: 10px 0;
}
.page-baichuan article .text .text-gray {
  margin: 30px 0 15px;
  font-size: 14px;
}
.page-baichuan article .phone {
  margin-top: 110px;
  width: 228px;
  height: 401px;
  position: relative;
  border: 1px solid #999;
  border-radius: 28px 28px 0 0;
  background: white;
}
.page-baichuan article .phone:after {
  content: " ";
  background: url(//gtms01.alicdn.com/tps/i1/TB1MT84IFXXXXaBXVXXG_XNJXXX-79-33.png) no-repeat;
  width: 79px;
  height: 33px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -36px;
}
.page-baichuan article .phone img {
  width: 198px;
  margin-top: 50px;
  border: 1px solid #aaa;
  border-bottom: 0;
}
.page-baichuan article .phone .indicator {
  background: rgba(5, 200, 200, 0.3);
  border: 2px solid #12c1fa;
  position: absolute;
  top: 65px;
  left: 14px;
  width: 200px;
  height: 31px;
  display: none;
}
.page-baichuan article .code {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  width: 150px;
}
.page-baichuan .text-gray {
  color: #999;
}
.page-baichuan .tabs {
  list-style: none;
  margin: 0 auto;
  max-width: 1400px;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
}
.page-baichuan .tabs li {
  float: left;
}
.page-baichuan .tabs a {
  display: inline-block;
  height: 80px;
  line-height: 40px;
  padding: 20px;
  color: #333;
}
.page-baichuan .tabs li.active a {
  background: #319af5;
  color: white;
}
.page-baichuan .footer-second {
  background: #efefef;
  overflow: hidden;
  padding: 50px;
  text-align: center;
  font-size: 18px;
}
.page-baichuan .footer-second .btn {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  width: 120px;
  background: #0089cd;
  color: white;
  margin-top: 20px;
}
.page-baichuan .footer-second .btn:hover {
  background: #0078b4;
}
.page-baichuan .footer-second.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .8;
}
.page-baichuan .design {
  padding: 20px 0 70px 0;
  text-align: left;
  width: 960px;
  margin: auto;
}
.page-baichuan .design ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-baichuan .design li {
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  text-align: center;
}
.page-baichuan .design a {
  display: block;
  width: 450px;
  margin: 0 auto;
  position: relative;
  color: #333;
  padding: 30px 50px;
}
.page-baichuan .design .icon {
  position: absolute;
  height: 84px;
  line-height: 84px;
  width: 84px;
  border: 2px solid #ccc;
  border-radius: 100%;
  top: 50%;
  margin-top: -40px;
  left: 90px;
  font-size: 36px;
  color: #ccc;
}
.page-baichuan .design .contents {
  margin-left: 160px;
  text-align: left;
}
.page-baichuan .design .contents h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
}
.page-baichuan .design h2 {
  font-size: 20px;
  font-weight: normal;
}
.page-baichuan .design p {
  font-size: 14px;
  color: #999;
}
.page-baichuan .design li:hover {
  border-color: #0089cd;
}
.page-baichuan .design li:hover .icon {
  border-color: #0089cd;
  color: #0089cd;
}
.page-baichuan .share {
  padding: 40px 0 70px 0;
  width: 960px;
  margin: auto;
}
.page-baichuan .share h2 {
  margin: 20px 0;
  font-size: 20px;
}
.page-baichuan .share .img {
  width: 224px;
  height: 127px;
  display: block;
  border: 1px solid #ccc;
  position: relative;
}
.page-baichuan .share .overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  background: rgba(44, 120, 255, 0.8);
}
.page-baichuan .share .overlay .download {
  width: 100px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  border: 1px solid white;
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -16px;
  font-size: 16px;
}
.page-baichuan .share .img:hover .overlay {
  display: block;
}
.page-baichuan .share img {
  display: block;
}
.page-baichuan .share ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.page-baichuan .share li {
  text-align: center;
  float: left;
  width: 224px;
  overflow: hidden;
}
.page-baichuan .share li + li {
  margin-left: 21px;
}
.page-baichuan .share h4 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
  width: 300px;
  margin-left: -38px;
}
.page-baichuan .share p {
  margin: 0;
}
.page-baichuan .footer {
  background: #3f4a53;
  overflow: hidden;
  text-align: center;
  color: white;
  padding: 30px 0;
}
.page-baichuan .footer .links,
.page-baichuan .footer .copyright {
  margin: 10px 0;
}
.page-baichuan .footer a {
  display: inline-block;
  margin: 0 10px;
}
.page-baichuan .footer a {
  color: white;
}
.page-baichuan .footer a:hover {
  text-decoration: underline;
}
.changelog ul {
  font-size: 0.7rem;
  margin: 0;
}
.faq h3 > a,
.faq h2 > a {
  color: #333;
}