.bar .icon
{
  font-size:16px;
}
.font
{
  font-size:16px;
}
.content
{
  background:#fff;
}
#content-text
{
  text-align: center;
  margin:10px 0px;
}
.content .one .button
{
  background: #CFF6F2;
  border:0;
  margin:0;
}
.content .two
{
  margin-top:10px
}
.content .two .col-50
{
  width:8rem;
  height:14rem;
  margin-left: 1.6rem;
  border-radius: 3%;
  margin-top:0.5rem;
}
.content .col-50 img
{
  border-radius: 3%;
  width:8rem;
}
.content .col-50 .sp
{
 margin-top:225px;
 margin-left:-193px;
 font-size:12px;
 position:absolute;
 background:#AEACAC;
}
.content .fl
{
  float:left;
  color:red;
}
.content .fr
{
  float:right;
}
/*当文字超过文本框长度时省略号代替*/
p
{
  margin:0px auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.infinite-scroll-preloader {
     margin-top:-1rem;
}
.common-4 {
  width:17%!important;
    margin-left:8%!important;
}