.w {
    background-color: #fff;
}
* {
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}
#scroll {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap>div {
    float: left;
    width: 100%;
    position: relative;
}
.swipe-wrap img {
    width: 100%;
}
.xiaoyuandian {
    list-style: none;
    position: absolute;
    margin: 0px;
    padding-left: 0px;
    bottom: -0.5em;
    right: 11rem;
    width: 6rem;
    height: 1.6rem;
}
.xiaoyuandian li {
    width: 0.3rem;
    height: 0.3rem;
    background: red;
    float: left;
    margin-right: 0.3rem;
    border-radius: 10px;
}
.xiaoyuandian li.cur {
    background: blue;
}
.row a {
    display: block;
    text-align: center;
    font-size: 0.8em;
    color: #6F6B6B;
}
.row a img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.button {
    border: none;
}
.button a {
    height: 3rem;
    line-height: 1.5rem;
    display: block;
    color: #6F6B6B;
    font-size: 1em;
}
* {
    touch-action: none;
}
.current {
    color: #0894ec;
}