.row .marg
{
    height:13rem;
    margin-top:0.6rem;
}
.row .col-25
{
    text-align:center;
}
.row .col-20 
{
    text-align:center;
      
}
.row .col-20  a
{
    color:#1F1D1D;
    font-size:0.28rem !important;  
}
.list-block
{
    margin: 0.5rem 0 !important;
}
.row-33 img
{
    padding-top:1rem;
    padding-left:1rem;
}
.swiper-slide .ppt1
{
    width:6rem;
    height:8rem;
    border-radius:2%;
}
.swiper-slide .ppt2
{
    width:4.6rem;
    height:9.1rem;
    border-radius:2%;
}
.row .marg .sp1
{
    height:1.5em;
    width:7em;
    margin-top:7rem;
    margin-left:-7rem;
    position:absolute;
    background:#AEACAC;
}
.row .marg .sp2
{
    font-size:0.8em;
    height:1rem;
    width:3.5rem;
    float:left;
    color:red;
}
.row .marg .sp3
{
    font-size:0.8em;
    height:1rem;
    width:3.2rem;
    float:right;
    text-align: right;
}
p
{
  margin:0px auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.infinite-scroll-preloader {
    margin-top:-1rem;
}
.page {
    background:white;
}
.ico-left {
     margin-top:20px;
     margin-left:10px;
}
#search {
    width:82%;
}
.height {
    height:115px;
}
.centont-top img{
    width: 4.3rem;
    height: 4.3rem;
    border-radius:5%;
}
.content-m {
    height:5rem;
    margin-top:15rem;
    background:#C0EDF0;
    position:absolute;
}
.content-m img {
    width:100%;
    height:5rem;
}
.content img span {
    margin-top:1rem;
}
.content-l {
    padding-top:22rem;
}
.row-3 {
    padding-left:0.5rem;
    text-align:center;
}
.common {
    width:5rem;
    height:5rem;
    background:#F3F3F3;
}
.common-font {
    font-size:0.5rem;
}
.like {
    text-align:center;
    margin-bottom:5%;
}
.col-50 img
{
  border-radius: 3%;
  width:7.3rem;
}