 .myhd {
     height: 200px;
     padding: 0!important;
 }
 .pic {
     text-align: center;
     width: 100%;
 }
 .pic img {
     width: 3rem;
     height: 3rem;
     border-radius: 50%;
     margin-bottom: 4rem;
 }
 .myhd #p {
    color:#383737;
    font-size: 1rem;
    margin-bottom:-1rem;
    position:absolute;width:100%;
    margin-bottom:-1rem;
    position:absolute;
    text-align:center;
 }
 .myhd #pro_index {
    margin-top: 2rem;
    background: rgb(255, 255, 255);
    border-radius: 20%;
    position: absolute;
    border: 1px solid rgb(178, 173, 173);
 }
#carts_amount {
    font-size:15px;
}
