.content-padded
{
    margin-top:3rem;
}
.col-20::-webkit-scrollbar 
{
    display:none;
}
.col-80::-webkit-scrollbar 
{
    display:none;
}
.docs-side-menu{
    font-size:1em !important;
}
.row .scroll-bar
{
    position:relative;
    height:29rem;
    overflow-y:auto;
}
.row .scroll-bars
{
    position:relative;
     height:30rem;
     overflow-y:auto;
}
.docs-side-menu li{
    padding:1em 0 !important;
}
.row .col-33 img
{
    border-radius:50%;
}
.row .marg
{
    height:13rem;
    margin-top:0.6rem;
}

.row .marg .sp1
{
    height:1.5em;
    width:7em;
    margin-top:-2rem;
    position:absolute;
    background:#AEACAC;
}
.row .marg .sp2
{
    font-size:0.5em;
    height:1rem;
    width:3.5rem;
    float:left;
    color:red;
}
.row .marg .sp3
{
    height:1rem;
    width:3.2rem;
    float:right;
    text-align: right;
}
.row .marg p
{
    margin:0px auto;
    height:25px;
    width:100%;
    text-align:center;
}
p
{
  margin:0px auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.fr {
    float: right;
    margin-right: 8px;
}
.col-50 img
{
  border-radius: 3%;
  width:7.3rem;
}

.col-50 .sp
{
 margin-top:8rem;
 margin-left: -7.2rem;
 font-size:0.6rem;
 position:absolute;
 background:#AEACAC;
}
.fixed-tab {
    margin-top: 1rem;
}