.bar .icon
{
  font-size:16px;
}
.font
{
  font-size:16px;
}
.content
{
  background:#fff;
}
#content-text
{
  text-align: center;
  margin:10px 0px;
}
.content .one
{
  background:#F7F5F5;
}
.content .one .col-25
{
  text-align:center;
  color:#686666;
}
.content .two
{
  margin-top:10px
}
.content .two .col-50
{
  width:8rem;
  height:15rem;
  margin-left: 6% !important;
  border-radius: 3%
}
.content .col-50 img
{
  border-radius: 3%;
}
.content .col-50 .sp
{
 margin-top:225px;
 margin-left:-193px;
 font-size:12px;
 position:absolute;
 background:#AEACAC;
}
.content .fl
{
  float:left;
  color:red;
}
.content .fr
{
  float:right;
}
/*当文字超过文本框长度时省略号代替*/
p
{
  margin:0px auto;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}